node_modules
dist
.vscode
.next
docker-compose.yml
ci/*/
*.spec.ts
newrelic-staging.js
*/database/migrations/.ts
newrelic-production.js
next-env.d.ts
*//fakes/.ts
*//test/.ts
*/test/.ts
*//test/*.ts
*//test/utils/*.ts
*//database/src/migrations/.ts
*/database/src/migrations/.ts
*//database/src/migrations/*.ts